img {
    height: 100%
}

h1 {
    color: yellow;
    font-family: MN WALNUTS;
    font-size: 30px;
}
.text {
    color: yellow;
    font-size: 24px;
}

body {
    background-color: DeepSkyBlue;
    font-family: MN WALNUTS;
    background-image: url(./image/sky.jpg);
    background-repeat: round;
    overflow: hidden;
}

table,
th,
td {
    border-collapse: collapse;
    border: 2px solid rgb(245, 253, 130);
    height: 50px;
    width: 50px;
    margin: 100px auto;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 98vh;
    overflow: hidden;
}

.my-btn {
    border: 5px solid #fdcf8e;
    background-color: transparent;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;
    padding: 12px 3rem;
    font-size: 30px;
}

.d-flex {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: flex-start;
    transition: all .5s;
}
.letter-s {
    position: absolute;
    top: 0;
    right: 0;
    height:100px;
    animation-name: letter-fly;
    animation-duration: 3s;
    animation-fill-mode: both;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes letter-fly {
    0% {
        top: 0;
        right: 0%;
    }
    30% {
        top: 170px;
    }
    50% {
        top: 150px;
    }
    100% {
        right: 100%;
        top: 180px;
    }
}